#purpose-assoc {
  padding-bottom: 70px;
  padding-top: 70px;
  background-color: rgb(243, 240, 240);
  .info {
    h5 {
      font-size: 26px;
      color: $color;
    }
    p {
      color: #4e4c4c;
      line-height: 26px;
    }
  }
}
