#donate {
  padding: 30px;
  background-color: rgb(241, 241, 207);
 
  h2{
    font-size: x-large;
    font-weight: 700;
    padding: 15px;
  }
  .btn-info {
    padding: 10px;
    border-radius: 20px;
    width: 20%;
    background-color: rgb(197, 189, 142);
    border-color: antiquewhite;
    font-weight: 700;
    color: rgb(20, 20, 20);
  }
}
