#cards {
  padding: 50px;
  background-color: rgb(247, 245, 243);
  .card {
    .card-img-top {
      height: 190px;
      width: 286px;
    }

    .add {
      height: 190px;
      width: 286px;
    }
  }
}
