#services {
  margin-top: 50px;
  margin-bottom: 30px;
  .item {
    margin-right: -10px;
    h4 {
      color: #fff;
      padding: 30px 30px;
      font-size: 30px;
    }
    .edu {
      background-image: url(../img/education.jpg);
      background-repeat: no-repeat;
      background-position: center center !important;
      background-size: cover !important;
      height: 430px;
      transition: 300ms;
    }

    .health {
      background-image: url(../img/health.jpg);
      background-repeat: no-repeat;
      background-position: center center !important;
      background-size: cover !important;
      height: 430px;
      transition: 300ms;
    }

    .char {
      background-image: url(../img/yellow-flowers.jpg);
      background-repeat: no-repeat;
      background-position: center center !important;
      background-size: cover !important;
      height: 430px;
      transition: 300ms;
    }

    .rel {
      background-image: url(../img/praying-sunset.jpg);
      background-repeat: no-repeat;
      background-position: center center !important;
      background-size: cover !important;
      height: 430px;
      transition: 300ms;
    }

    .sport {
      background-image: url(../img/Sports-football.jpg);
      background-repeat: no-repeat;
      background-position: center center !important;
      background-size: cover !important;
      height: 430px;
      transition: 300ms;
    }
  }
}
