#whoweare {
  margin-bottom: 60px;
  margin-top: 50px;
  .info {
    h5 {
      a {
        text-decoration: none;
        color: #e27d60;
      }
    }
    p {
      span {
        color: #e27d60;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}
