
@{
    ViewData["Title"] = "Index";
}

<!-- MAIN START -->
<main>
    <!-- CARDS SECTION START -->
    <section id="cards">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card" style="width: 18rem">
                        <a href="https://hesab.az/unregistered/#/direct-pay/loans/kapitalbank/parameters">
                            <img class="card-img-top"
                                 src="img/kapital-kart.png"
                                 alt="Card image cap" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card" style="width: 18rem">
                        <a href="https://hesab.az/unregistered/#/direct-pay/loans/bankrespublika/parameters">
                            <img class="card-img-top"
                                 src="img/respublika-kart.png"
                                 alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card" style="width: 18rem">
                        <a href="https://hesab.az/unregistered/#/direct-pay/loans/bankofbaku/parameters">
                            <img class="card-img-top"
                                 src="img/bnkofbaku-kart.png"
                                 alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- CARDS SECTION END -->
</main>
<!-- MAIN END -->
