
@{
    ViewData["Title"] = "MartryDetail";
}

<!-- MAİN START -->
<main>
    <!-- Martyr section start -->

    <section id="martry"
             style="
          background-color: rgb(243, 240, 240);
          padding-bottom: 60px;
          padding-top: 50px;
        ">
        <div class="container">
            <div class="img text-center">
                <img class="img-fluid" src="~/img/xudayar-yusifzade.png" alt="" />
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="info mt-5">
                        <p style="color: #4e4c4c; line-height: 26px">
                            Xudayar Müslüm oğlu Yusifzadə (15 iyul 1998; Bərdə, Azərbaycan
                            — 22 oktyabr 2020; Zəngilan rayonu, Azərbaycan) — Azərbaycan
                            Silahlı Qüvvələrinin Sərhəd Qoşunlarının giziri, Vətən
                            müharibəsinin şəhidi.
                            <br />
                            Təsadüflər təkcə romanlarda, kinolarda olmur. Həyat
                            təsadüflərlə doludur. Xudayarın həyatı kimi... Onun dünyaya
                            gəlməsi bəlkə bu zərurətdən idi...
                            <br />
                            Bərdədə doğulub. Dünyaya gəlişi ilə həyat ona ilk “sürprizini”
                            atasını əlindən almaqla edib. 32 yaşında qarmon ifaçısı olan
                            atası Müslüm Yusifzadə ürək qüsurundan dünyadan köç edib.
                            Ailədə üç qardaş, bir bacı anaları ilə qalıblar nənə, baba
                            himayəsində. Qarşıda hələ neçə-neçə sürprizlər olduğunu
                            bilmirdi Xudayar. Yaman dəcəl və ərköyün idi. Babasıyla nənəsi
                            o dörd uşağın yolunda, ayaqları altında canları ilə
                            döşənərdilər ki, gözlərində yaş görünməsin, yoxsa nakam
                            atalarının ruhunu incitmiş olarlar. Uşaqlar da qayğısız
                            böyüyürdülər, ailə onların var içində böyüməsinə çalışdığından
                            yox nədir bilmirdilər.
                            <br />
                            Xudayar Bərdə 1 saylı Musiqi Məktəbinin xanəndəlik sinfində
                            oxuyurdu, evdə də işi-gücü oxumaq olardı. Daha bir təsadüf
                            onun orta məktəbin birinci sinfinə gedəndə hərbiçi olmaq
                            arzusu ilə nənəsinə aldırdığı hərbi formanı geyinməsi olub.
                            <br />
                            Əsgəri xidmətdən qayıdanda isə görüb ki, yaşadıqları ev
                            elektrik naqillərinin qısa qapanmasından yanıb kül olub.
                            Ailənin belə ağır vəziyyətində Xudayar işləmək üçün Bakıya
                            gəlib. Marketlərdən birində mühafizəçi işləyirmiş. Bir gün
                            marketin sahibi ona darvazanı açmadığı üçün Xudayarı
                            azarlayıb. Xudayar cavab verib ki, əvvəla görmədim
                            gəldiyinizi, ikinci də mən qapı açan işləmirəm, mühafizəçiyəm.
                            Bu dialoqa təsadüfən qulaq müsafiri olan market müştərisi
                            Xudayarın çiyninə ehmalca vurub qulağına bayırda səni
                            gözləyirəm deyib. Təbii ki, müdirlə olan mübahisədən sonra
                            işini itirdiyinə əminliklə Xudayar marketdən çıxıb həmin adama
                            yaxınlaşır. Bayırda gözləyən Orxan adlı adam ona sabah
                            sənədlərini də götür gəl Sərhəd Qoşunlarına deyir. Xudayar
                            qəbul olub, oxuyur, amma ailəsini kirayələrdən qurtarmaq üçün
                            tez bir zamanda işləmək istəyirdi. Tezliklə Astarada Sərhəd
                            Qoşunlarında gizir kimi fəaliyyətə başlayıb. <br />
                            Vətən Müharibəsinin ilk günlərindən döyüşlərə qatılır. Anası
                            Radə Yusifzadənin dediyinə görə ailəsi onun döyüşlərdə
                            olduğunu bilməyib: Bizə demirdi, zəng edəndə gülə-gülə
                            zarafata salıb deyirdi, bizi döyüşə aparmırlar, təlim
                            keçirlər. Bir dəfə telefonda güllə səslərini eşitdim, anladım
                            anlamağa, amma dedi ki, Zəngilanı almışıq deyə, əsgərlər
                            atəşfəşanlıq edirlər. Dedim bala, Allah səni də, yoldaşlarını
                            da qorusun. Təkcə, balaca dayısına demişdi ki, döyüşə gedirəm.
                            Dayısı dedi onu saxlamaq olmazdı ”. <br />
                            Şəhidliyindən iki gün əvvəl sosial şəbəkələrdə onun ifasında
                            yayılan mahnının sözlərinə fikir verin:
                            <br />
                            Dumanlı dağların başında durdum, <br />
                            Dumandan özümə bir xeymə qurdum, <br />
                            Keçdi xəyalımdan öz gözəl yurdum, <br />
                            Dumanlar içində duman görünür. <br />
                            Xudayarın Murovdağdan başlayan döyüş yolu Zəngilandan,
                            Qubadlıdan, Cəbrayıldan, Füzulidən keçir. Həmin dumanlı dağ
                            onun yurdudur. O dağlarda başının üstündə həqiqətən dumandan
                            xeymə qurmuşdu döyüş yoldaşları ilə. <br />
                            Nənəsi Tovuz Məmmədova danışır ki, döyüş yoldaşları Xudayarın
                            şəhid xəbərini gətirən dostları dedilər ki, düşmən
                            mühasirəsində qalmış yoldaşlarından birinə deyib, qorxma,
                            gəlib səni xilas edəcəm. Ölsəm də şəhid olmağa gəlirəm.
                            Dostunu mühasirədən çıxarıb sağ salamat qayıtmışdı. Biz
                            dostları danışana qədər bilmirdik ki, Xudayar Füzuli, Hadrut,
                            Zəngilan, Kəlbəcər, Qubadlı uğrunda qaynar döyüşlərdə iştirak
                            edib. Oktyabrın 23-də ağır yaralanıb, şəhid olub. Mən balamla
                            fəxr etmişəm həmişə. Yenə fəxr edirəm”. <br />
                            Balası ilə fəxr edən ana nənəsi ağdamlıdır. Xudayarın ana
                            tərəfi ağdamlıdır. Ona görə də babasına zəng edib gəlib səni
                            yurduna - Ağdama aparacam deyib. Xudayar Zəngilanın Ağbənd
                            qəsəbəsi uğrunda döyüşlərdə şəhidliyə yüksəlib. Ondan sonra
                            silahdaşları həmin yerə bayrağı Xudayarın şərəfinə sancıblar –
                            rahat yat deyiblər, uğrunda şəhid olduğun məntəqəni azad
                            etdik... <br />
                            Deyirlər bülbülə çəmən yaxşıdır, <br />
                            İnsan üçün laləzar vətən yaxşıdır, <br />
                            Vahid sorma vətən nədən yaxşıdır, <br />
                            Adı gəlcək könlüm xəndan görünür. <br />
                            Beləcə dastana döndü 22 yaşlı Xudayar Yusifzadə. Hərbiçi də
                            oldu, döyüşçü də, şəhid də... <br />
                            Dünyadan köçməzdən əvvəl xanəndə kimi tanınmaq istəyi də
                            ürəyində qalmadı. Tək bircə “Vətən yaxşıdır” mahnısını ifa
                            etməklə bütün xanəndəliyin fövqünə qalxdı. Xəyalımıza,
                            qəlbimizə, gözlərimizə köçdü batıq yanaqları, parlaq gözləri,
                            gözəl ifası və qəhrəmanlığı ilə. Bütün şəhiddaşları ilə birgə
                            nur içində yatsın... <br />
                            İfasının sonunda dediyi söz qulaqlarımızda səslənir – elə bil,
                            həyatının da o kəlmə ilə nöqtəsini qoyurmuş. <br />
                            Vətən uğrunda canlarından keçənlərin ruhu qarşısında
                            təzimlə...
                        </p>
                    </div>
                </div>
            </div>
            <div class="video text-center my-5">
                <iframe style="width: 500px; height: 300px"
                        src="https://www.youtube.com/embed/vH3szycFi0E"></iframe>
            </div>
        </div>
    </section>
    <!-- Martyr section end -->
</main>
<!-- MAIN END -->
