@model WeAre
@{
    ViewData["Title"] = "Index";
}

<!-- COVER SECTION START -->
<section id="cover">
    <div class="cover-img">
        <img class="img-fluid" src="img/how-we-are.jfif" alt="" />
    </div>
</section>
<!-- COVER SECTION END -->
<!-- WHO WE ARE SECTION START -->
<section id="whoweare">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="info">
                    <h5>
                        Dərnəyimiz, 21 Yanvar 2021-ci il tarixində ictimaiyyətdən
                        könüllü təsisçilər tərəfindən sığınacaqsız Uşaq və Gənclərin
                        Qoruma və İnkişaf Dərnəyi adı altında yaradıldı Dərnəyimiz
                        şəhid
                        <a href="martyr.html">Xudayar Yusifzadə</a> adını daşıyır.
                        <br />
                        <a style=" text-decoration: none; color: #e27d60; font-size : 20px;" asp-controller="HowWeAre" asp-action="Detail">Xudayar Yusifzadə kimdir?</a>

                    </h5>
                    <p>
                        Məqsədimiz aztəminatlı bir ailə mühitində yaşayan uşaqlara
                        çatmaq, əlverişsiz şərtlər üzündən küçədə işləmək,
                        təhsillərini dayandırmaq və ya təhsilini qismən davam etdirmək
                        məcburiyyətində qalan uşaqların ailələrinə çatmaqla yaşayış
                        şəraitlərini yaxşılaşdırmaq; Sağlamlıq, qida və təhsil kimi
                        təməl ehtiyacları ödəmək, məktəb yaşı bitmişsə onları ali
                        məktəbə və ya peşə emalatxanalarına yönləndirmək, Ailələrə
                        narkotiklər və küçələr barədə məlumat vermək, cinayət və maddə
                        kimi mənfi faktlarla qarşılaşmadan uşağın və ailənin
                        məlumatlılığını artırmaq, şəraitlərini yaxşılaşdırmaq üçün
                        özəl və hüquqi təşkilatlarla əməkdaşlıq etmək, profilaktik
                        tədbirlər həyata keçirmək. Uşağa və ailəyə maddi və mənəvi
                        yardım göstərmək, bu cür uşaqların və gənclərin ailələri ilə
                        ünsiyyət qurmaq və problemlərini birlikdə aradan qaldırmaq,
                        ailələrinə və cəmiyyətinə xeyirli övlad gətirmək.
                    </p>
                    <p>
                        Ailə mühitindən uzaqlaşmaq məcburiyyətində qalan, dağılmış
                        ailələrdə və dövlət himayəsindən ayrılmış küçələrdə yaşayan,
                        maddi və mənəvi yardıma ehtiyacı olan və pis şəraitdə işləyən
                        dostlarımıza köməklik etmək, tərk edilmiş və küçələrdə yaşayan
                        uşaqların və gənclərin sığınacaqlarını, sağlamlıq və təhsil
                        ehtiyaclarını ödəmək, məşğulluq və peşə imkanları yaratmaq
                        üçün mərkəzlərlə əlaqə qurmaq; onları peşə kurslarına
                        yönəltmək və peşə sahibi olmaları üçün səy göstəririk.
                    </p>
                    <p>
                        Bundan əlavə, dərnəyin məqsədinə uyğun olaraq qurulan və ya
                        yaradılacaq fondlarla maddi və mənəvi həmrəyliyə girmək;
                        Sosial Xidmətlər Uşaq Müdafiəsi Agentliyi, Səhiyyə Nazirliyi,
                        Ailə və Sosial Siyasətlər Nazirliyi, Gənclər və İdman
                        Nazirliyi kimi təşkilatlarla əməkdaşlıq etmək. Eyni məqsədlə
                        fəaliyyət göstərən xarici (yerli və xaricdə) dərnəklər və
                        fondlarla əlaqə və əməkdaşlığı inkişaf etdirmək.
                    </p>
                    <p>
                        Gələcək üçün uşaqlarımızı və gənclərimizi ailəsinə, küçə,
                        aludəçilik kimi çıxılmaz vəziyyətdən çıxmartmaq və onlara
                        təmiz bir yataq, məktəb, peşə kursu ilə təmin edərək vermək
                        istəyirik.
                    </p>
                    <p>
                        İnanırıq ki, uşaq və gənclərə fürsət verildiyində,
                        etiketlənmədiklərində, səylərini dəstəklədiyimizdə həyata
                        möhkəm tutunub həm özlərinə həm də ölkəmizə faydalı gənclərə
                        çevrilirlər.
                        <br />
                        <span>Uşaqlarımız və gənclərimiz sizi gözləyir.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- WHO WE ARE SECTION END -->
<!-- COVER SECTION START -->
<section id="cover">
    <div class="cover-img">
        <img class="img-fluid" src="img/purpose-cover.jfif" alt="" />
    </div>
</section>
<!-- COVER SECTION END -->
<!-- PURPOSE OF ASSOCIATION SECTION START -->
<section id="purpose-assoc">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="info">
                    <h5>Dərnəyimizin məqsədi nədir?</h5>
                    <p>
                        Ailələri tərəfindən sözlü və ya fiziki zorakılığa məruz qalan,
                        küçələrdə yaşamaq məcburiyyətində qalan, narkotik istifadə
                        edən, küçədə yaşamaq riski olan uşaqlara, gənclərə və
                        böyüklərə xidmətlər göstəririk.
                    </p>
                    <p>
                        Dərnəyimizdə küçədə yaşayan, işləyən və ya küçədə yaşamaq
                        riski olan şəxslərə təhsil, sağlamlıq, maddi və nağd
                        yardımlar, cəmiyyətə uyğunlaşma və inteqrasiya etmək kimi
                        əhəmiyyətli problemlərin aradan qaldırılmasının ardından, iş
                        tapmalarına kömək etmək kimi xidmətlər təklif olunur. Bundan
                        əlavə, ailələri tərəfindən işlədilən uşaqları
                        müəyyənləşdiririk, ailələri ilə görüşürük, kitab, dəftərxana
                        ləvazimatı, paltar, kimi uşağın əsas ehtiyaclarını ödəyirik və
                        könüllülərimizlə birlikdə uşağın yararsız mühitdən uzaq bir
                        həyat yaşamasını təmin edirik.
                    </p>
                    <p>
                        Xeyriyyə olaraq hər bir ianə tədbirlərimizi və xidmətlərimizi
                        ehtiyacı olanlar üçün təmin etməyimizə kömək edin
                    </p>

                    <p>
                        Təşkilatımızda və işimizin hər tərəfində mərhəmət və hörməti
                        modelləşdiririk və təbliğ edirik.
                        <span>Uşaqlarımız və gənclərimiz sizi gözləyir.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- PURPOSE OF ASSOCIATION SECTION END -->
