header .middle-nav {
  background-color: #e27d60;
  width: 100%;
  height: 70px;
}

header .middle-nav .header-title h4 {
  font-size: 17px;
  width: 500px;
  margin-left: -90px;
  font-weight: 700;
  color: #ffffff;
}

header .middle-nav .header-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header .middle-nav .header-left ul li a {
  text-decoration: none;
  margin: 5px;
}

header .middle-nav .header-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header .middle-nav .header-right ul li a {
  text-decoration: none;
  margin: 5px;
}

header nav {
  padding: 0px !important;
}

header nav #logo {
  width: 130px;
  height: 90px;
}

header nav #mobile-navbar-show {
  cursor: pointer;
  border: none;
}

header nav ul li {
  position: relative;
  padding: 21px 13px;
}

header nav ul li a {
  position: relative;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #c38d9e !important;
  font-weight: 700;
}

header nav ul li a::after {
  content: "";
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 1px;
  background-color: #c38d9e;
}

header nav ul li a:hover {
  text-decoration: none;
}

header nav ul li a:hover::after {
  width: 80%;
}

header nav ul li .fa-search {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

header nav ul li i,
header nav ul li span {
  cursor: pointer;
}

header nav ul li ul {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background-color: #ffffff;
  position: absolute;
  top: 115px;
  left: -150px;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}

header nav ul li ul li {
  padding: 5px 30px;
}

header nav ul li ul li i {
  font-size: 13px !important;
}

header nav ul li ul li ul {
  opacity: 0 !important;
  visibility: hidden !important;
  top: 0;
  left: 100%;
}

header nav ul li ul li #input-search {
  border: none;
}

header nav ul li ul li #input-search:focus {
  outline: none;
}

header nav ul li ul li:hover ul {
  opacity: 1 !important;
  visibility: visible !important;
}

header nav ul li ul .element ul {
  top: 0;
  left: -100%;
}

header nav ul li .elements li {
  text-align: right;
}

header nav ul li .shop {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background-color: #ffffff;
  position: absolute;
  top: 115px;
  width: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

header nav ul li .shop ul {
  width: auto;
  opacity: 1;
  visibility: visible;
  position: relative;
  top: 0;
}

header nav ul li .shop ul li {
  padding: 5px 0;
}

header nav ul li .shop ul li a {
  padding: 0 !important;
}

header nav ul li:hover ul {
  opacity: 1;
  visibility: visible;
}

header nav ul li:hover .shop {
  opacity: 1;
  visibility: visible;
  z-index: 99;
}

header nav ul li.shop-li {
  position: static;
}

header nav ul .shop-cart sup {
  padding: 1px 3px;
  color: #ffffff;
  background-color: #e27d60;
}

header nav ul .shop-cart ul {
  top: 100px;
  left: -70%;
}

header nav ul .shop-cart ul li {
  font-size: 14px;
}

header nav ul .search ul {
  visibility: visible;
  opacity: 1;
  top: 100px;
  display: none;
}

header nav ul .search ul li i {
  font-size: 14px !important;
}

header .mobile-navbar {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #ffffff;
  top: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
}

header .mobile-navbar .fa-times {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  color: #e27d60;
}

header .mobile-navbar ul li {
  margin-top: 20px;
}

header .mobile-navbar ul li a {
  font-size: 13px;
  text-transform: uppercase;
  color: #c38d9e;
  letter-spacing: 0.1em;
}

header .mobile-navbar ul li a:hover {
  text-decoration: none;
}

header .mobile-navbar ul ul {
  display: none;
}

header .mobile-navbar ul ul li {
  margin-top: 0;
}

header .mobile-navbar ul ul li a {
  padding: 0 !important;
  text-transform: capitalize;
  font-size: 13px;
  letter-spacing: 0em;
  color: white;
}

header .mobile-navbar ul ul ul li {
  text-transform: uppercase;
}

header .mobile-navbar.active {
  width: 420px;
  visibility: visible;
  opacity: 1;
  right: 0;
  z-index: 9;
}

#slider {
  position: relative;
}

#slider .slider img {
  min-height: 400px !important;
  width: 100% !important;
}

#slider .context {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}

#slider .context h1 {
  font-size: 41px;
  line-height: 51px;
  font-family: Lora, serif;
}

#slider .context h1 span {
  color: #e27d60;
}

#slider .context p {
  font-size: 17px;
  line-height: 29px;
  font-family: Lora, serif;
}

#volunteer .join {
  position: relative;
  text-align: center;
  min-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#volunteer .join .icon .fa-hands-helping {
  bottom: 25px;
  color: #e27d60;
  font-size: 50px;
  margin-left: -90px;
}

#volunteer .join .content {
  width: 65%;
  text-align: left;
  padding-left: 15px;
}

#volunteer .join .content h4 {
  font-size: 25px;
  text-transform: uppercase;
  color: #e27d60;
  font-weight: 700;
  margin: 0;
  margin-bottom: 15px;
}

#volunteer .join .content p {
  font-size: 18px;
  color: #c38d9e;
  line-height: 24px;
  font-weight: 500;
}

#volunteer .join .content a {
  text-decoration: none;
}

#volunteer .join .content .inverse {
  border-color: #fff;
  background-color: transparent;
  padding: 7px 22px;
  color: #fff;
}

#volunteer .join .content .thm-btn {
  background: #e27d60;
  border-radius: 30px;
  display: inline-block;
  color: #fff;
  font-size: 15px;
  font-family: Lora, serif;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#volunteer .donate {
  position: relative;
  text-align: center;
  min-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#volunteer .donate .icon .fa-hand-holding-medical {
  bottom: 25px;
  color: #e27d60;
  font-size: 50px;
  margin-left: -90px;
}

#volunteer .donate .content {
  width: 65%;
  text-align: left;
  padding-left: 15px;
}

#volunteer .donate .content h4 {
  font-size: 25px;
  text-transform: uppercase;
  color: #e27d60;
  font-weight: 700;
  margin: 0;
  margin-bottom: 15px;
}

#volunteer .donate .content p {
  font-size: 18px;
  color: #c38d9e;
  line-height: 24px;
  font-weight: 500;
}

#volunteer .donate .content a {
  text-decoration: none;
}

#volunteer .donate .content .inverse {
  border-color: #fff;
  background-color: transparent;
  padding: 7px 22px;
  color: #fff;
}

#volunteer .donate .content .thm-btn {
  background: #e27d60;
  border-radius: 30px;
  display: inline-block;
  color: #fff;
  font-size: 15px;
  font-family: Lora, serif;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#workshop {
  padding: 25px 0;
  background-color: #f6f4f3;
}

#workshop h4 {
  font-size: 24px;
  color: #595959;
  font-family: Lora, serif;
  font-weight: 600;
}

#workshop p {
  font-size: 15px;
  font-weight: normal;
}

#workshop a {
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-size: 15px;
  font-size: 20px;
  color: #e27d60;
}

#workshop img {
  height: 300px;
  margin-top: 28px;
  margin-left: 80px;
}

#event {
  padding-top: 90px;
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#event .card {
  margin-bottom: 30px;
}

#event .card .item {
  -webkit-box-shadow: 0 0 10px #e7e7e7;
          box-shadow: 0 0 10px #e7e7e7;
}

#event .card .item .img {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

#event .card .item .img a {
  text-decoration: none;
}

#event .card .item .img a img {
  border: none;
  outline: none;
  width: 100%;
  height: 230px;
}

#event .card .item .text {
  background-color: #ffffff;
  padding: 30px;
}

#event .card .item .text h4 a {
  line-height: 1.3;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 15px;
  color: #e27d60;
  text-decoration: none;
}

#event .card .item .text h4 a:hover {
  color: #c38d9e;
}

#event .card .item .text p {
  color: #666666;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
}

#event .card .item .text .post-date {
  margin-top: 20px;
  border-top: 1px solid #e7e7e7;
  padding-top: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: #e27d60;
}

#event .card .item .text .post-date:hover {
  color: #c38d9e;
}

#our-purpose {
  background-color: #f7f7f7;
  position: relative;
  z-index: 1;
}

#our-purpose .purpose {
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 50px;
}

#our-purpose .purpose h4 {
  color: #e27d60;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 22px;
}

#our-purpose .purpose h2 {
  display: inline-block;
  font-weight: 600;
  padding-bottom: 20px;
  margin-bottom: 0;
  position: relative;
  text-transform: capitalize;
  letter-spacing: 1px;
}

#our-purpose .purpose h2::before {
  background: #e27d60 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 40px;
}

#our-purpose .purpose h2::after {
  background: #e27d60 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: 20px;
  position: absolute;
  width: 5px;
}

#our-purpose .purpose p {
  margin: 0;
  margin-top: 20px;
  padding: 0 7%;
  color: #666666;
  font-size: 16px;
  text-transform: none;
  font-weight: 400;
}

#our-purpose .place {
  margin-top: 30px;
  margin-bottom: 30px;
}

#our-purpose .place .text h5 {
  text-transform: uppercase;
  color: #e27d60;
  font-weight: 800;
  font-size: 20px;
}

#our-purpose .place .text h2 {
  font-weight: 600;
  margin-bottom: 25px;
}

#our-purpose .place .text p {
  color: #666666;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
}

#our-purpose .image img {
  width: 550px;
  height: 490px;
  margin-top: 40px;
}

#services {
  margin-top: 50px;
  margin-bottom: 30px;
}

#services .item {
  margin-right: -10px;
}

#services .item h4 {
  color: #fff;
  padding: 30px 30px;
  font-size: 30px;
}

#services .item .edu {
  background-image: url(../img/education.jpg);
  background-repeat: no-repeat;
  background-position: center center !important;
  background-size: cover !important;
  height: 430px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

#services .item .health {
  background-image: url(../img/health.jpg);
  background-repeat: no-repeat;
  background-position: center center !important;
  background-size: cover !important;
  height: 430px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

#services .item .char {
  background-image: url(../img/yellow-flowers.jpg);
  background-repeat: no-repeat;
  background-position: center center !important;
  background-size: cover !important;
  height: 430px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

#services .item .rel {
  background-image: url(../img/praying-sunset.jpg);
  background-repeat: no-repeat;
  background-position: center center !important;
  background-size: cover !important;
  height: 430px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

#services .item .sport {
  background-image: url(../img/Sports-football.jpg);
  background-repeat: no-repeat;
  background-position: center center !important;
  background-size: cover !important;
  height: 430px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

#subscribe .subscribe-area {
  background: #fafafa;
  margin-bottom: 50px;
}

#subscribe .subscribe-area .subscribe-content {
  margin-top: 40px;
}

#subscribe .subscribe-area .subscribe-content h2 {
  margin-bottom: 30px;
  font-size: 40px;
  color: #e27d60;
  text-transform: uppercase;
}

#subscribe .subscribe-area form {
  border: 3px solid #f1f1f1;
  font-family: Arial;
}

#subscribe .subscribe-area form .container {
  padding: 20px;
  background-color: #f1f1f1;
}

#subscribe .subscribe-area form .container input[type="text"],
#subscribe .subscribe-area form .container input[type="submit"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#subscribe .subscribe-area form .container input[type="checkbox"] {
  margin-top: 16px;
}

#subscribe .subscribe-area form .container input[type="submit"] {
  background-color: #e27d60;
  color: white;
  border: none;
}

#subscribe .subscribe-area form .container input[type="submit"]:hover {
  opacity: 0.8;
}

#whoweare {
  margin-bottom: 60px;
  margin-top: 50px;
}

#whoweare .info h5 a {
  text-decoration: none;
  color: #e27d60;
}

footer {
  background: #e27d60 !important;
}

footer .healdi {
  padding-top: 50px;
  padding-bottom: 50px;
}

footer .healdi p {
  text-transform: none;
  font-weight: 400;
  margin-bottom: 40px;
  font-size: 20px;
}

footer .healdi .adress ul {
  list-style-type: none;
}

footer .healdi .adress ul .phone-li {
  margin-top: 30px;
}

footer .healdi .adress ul li .email h5 {
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.25rem;
}

footer .healdi .adress ul li .email i {
  position: absolute;
  bottom: 32px;
  left: -45px;
}

footer .links {
  margin-top: 50px;
}

footer .links .services h4 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
}

footer .links .services ul {
  padding-left: 20px;
}

footer .links .services ul li {
  margin-bottom: 15px;
  padding-left: 0;
  color: #ffffff;
}

footer .links .services ul li :hover {
  color: #c38d9e;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

footer .links .services ul li :last-child {
  margin-bottom: 0;
}

footer .links .services ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
}

footer .links .useful h4 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
}

footer .links .useful ul {
  padding-left: 20px;
}

footer .links .useful ul li {
  margin-bottom: 15px;
  color: #ffffff;
}

footer .links .useful ul li :hover {
  color: #c38d9e;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

footer .links .useful ul li :last-child {
  margin-bottom: 0;
}

footer .links .useful ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
}

footer .branches {
  margin-top: 110px;
  background: rgba(255, 255, 255, 0.05);
  padding: 55px 37px 12px;
  border-bottom: 2px solid #ffffff;
}

footer .branches .branch ul {
  list-style-type: none;
}

footer .branches .branch ul li {
  margin-bottom: 20px;
  color: #ffffff;
}

footer .branches .branch ul li :last-child {
  margin: 0;
}

footer .branches .branch ul li b {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
  font-weight: 900;
}

footer .footer-end {
  background: rgba(255, 255, 255, 0.03);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0;
  padding-bottom: 0;
}

footer .footer-end .social {
  text-align: center;
}

footer .footer-end .social a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
}

footer .footer-end .social a p {
  padding-right: 20px;
}

footer .footer-end .copy {
  text-align: center;
}

footer .footer-end .copy a {
  text-decoration: none;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */