@model Slider
@{
    ViewData["Title"] = "Create";
}

<div class="col-8 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add new photo</h4>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Photos">File upload</label>
                    <input asp-for="Photos" class="file-upload-default" accept="image/*">

                    <div class="input-group col-xs-8">
                        <input type="text" class="form-control file-upload-info" accept="image/*" placeholder="Upload Image">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                    </div>
                    <span asp-validation-for="Photos" class="text-danger mt-2" style="font-size:14px"></span>
                </div>
                <button type="submit" class="btn btn-success mr-2" asp-action="Create">Create</button>
                <a class="btn btn-secondary" asp-action="Index">Cancel</a>
            </form>
        </div>
    </div>
</div>
@section scripts{

    <script src="~/admin/assets/js/file-upload.js"></script>
    <partial name="_Validation" />
}




